<!DOCTYPE html>
<html>
<header>
  <link href="">
</header>
<%= render 'layouts/header' %>
<body>

<div class="row">
  <div class=".col-md-4 col-md-offset-4">
    <h1>Assessment Management</h1>

    <div class="btn-group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Left</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Middle</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Right</button>
      </div>
    </div>


    <!--<div class="row">-->
      <!--<div class="dropdown">-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" id="assessmentCreation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
          <!--Select Assessment Option-->
          <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" aria-labelledby="assessmentCreation">-->
          <!--<li><a href="#">Create Assessment</a></li>-->
          <!--<li><a href="#">Edit Assessment</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">Delete Assessment</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div id="assessmentOptions">new line</div>-->
    <!--</div>-->

  </div>
</div>

</body>
</html>