<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon" id="email-addon"></span>
          <input type="email" class="form-control" placeholder="Email" aria-describedby="email-addon" id="email">
        </div>
        <h4></h4>
        <div class="input-group">
          <span class="input-group-addon" id="password-addon"></span>
          <input type="password" class="form-control" placeholder="Password" aria-describedby="password-addon" id="password">
        </div>
        <h4></h4>
        <button type="button" class="btn btn-success" aria-label="Right Align">
          <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

</html>