<ul class="nav nav-pills" role="tablist">
  <li role="presentation"><%= link_to "Browse", about_path, id: "browse" %></li>
  <li role="presentation"><%= link_to "Assessments", about_path, id: "assessment" %></li>
</ul>
