<ul class="nav nav-pills" role="tablist">
  <li role="presentation"><%= link_to "Health Assessment", about_path, id: "healthAssessment" %></li>
  <li role="presentation"><%= link_to "Save", about_path, id: "save" %></li>
  <li role="presentation"><%= link_to "Cancel", about_path, id: "cancel" %></li>
</ul>